@model List<AppointmentVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<br />
<h5>Appointments</h5>
<br />
<div class="col-12 col-md-3 offset-1 offset-1">
    <a asp-controller="Admin" asp-action="Appointment"
       asp-area="Manager" style="color:white " class=" btn btn-secondary container"> New Appointment Create</a>
</div>
<div class="col-12 col-md-10 offset-1 offset-1">
    <div class="text-danger" asp-validation-summary="All"></div>

    <table style="width:100%; border:solid" class="table table-hover">
        <tr>
            <th style="border:solid; color:blue">CUSTOMER</th>
            <th style="border:solid; color:blue">DATE TIME</th>
            <th style="border:solid; color:blue">IS CANCELED</th>
            <th style="border:solid; color:blue">IS COMPLETED</th>
            <th style="border:solid; color:blue">DETAILS</th>
            

        </tr>
       @foreach (var item in Model)
        {
            <tr>
                <th style="border:solid; color:black">@item.Customer</th>
                <th style="border:solid; color:black">@item.DateTime</th>
                <th style="border:solid; color:black">@item.IsCanceled</th>
                <th style="border:solid; color:black">@item.IsCompleted</th>
                <th style="border:solid; color:black">@item.Details</th>

            </tr>
        }

    </table>
    <br />
</div>